:focus {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, orange, red);
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-container input,
.search-container .suggestions {
  background-color: #FFD699;
}
.search-container input {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: auto;
  max-height: 30vh;
}

ul.scrollbar-needed {
  overflow-y: scroll;
}

ul li {
  padding: 5px 8px;
}
ul li:hover {
  background-color: #FF8040
}
